/(III)
/808s & Heartbreak
/AD HONOREM, Vol. 1
/After Chabon
/Amnesty (I)
/Artaud
/BALLADS 1
/BAM LA SUITE
/Buen Dia
/BUENOS AIRES MOTEL
/Clics Modernos
/Comfort y Música Para Volar
/CONSTIMORDOR
/Diamond Eyes
/eclips3
/El Amor Después del Amor
/EL DISKO
/Especial
/Graduation
/Heráldica
/IGOR
/JESUS IS KING
/K4
/KOR KOR LAKE
/LIVRE
/Llegando Los Monos
/Lo Más Cercano a Caer
/Muerte en el Agua
/MURIO LA MUSICA
/My Beautiful Dark Twisted Fantasy
/Nafta
/NAFTA II
/Nectar
/No Es Solo Rock And Roll
/Otro Día en el Planeta Tierra
/Peperina
/Piano Bar
/PLUG PARK
/Por cesárea
/POST MORTEM
/pushing daisies
/q
/Random Access Memories (10th Anniversary Edition)
/RAWR
/SAETA
/Salsa Valentina
/SMITHEREENS
/The College Dropout
/The Life Of Pablo
/Vida
/VULTURES 1
/White Pony
/Wish You Were Here
/Y3Y2
/ye
/Yeezus